.new-background-color{
    --background: var(--ion-color-bp-bg-color); 
  }
  .centering{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
    color:white;
  }
  .centeringDark{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
    color:black;
    font-size:15px;
  }
  .box{
      width:30px;
      height:30px;
      background-color: var(--ion-color-bp-bg-color); 
      text-align: center;
      color:white;
      font-size:20px;
      font-family: QSbold;
  }
  ion-label{
      font-size:20px;
      font-family:QSbold;
      margin-left:2%;
  }
  form {
    margin-top: -21px;
  }

  .wrap-input {
    background-color: #DDDDDD;
    border-radius: 7px;
    margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
  }

  .input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: QSbold;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 46px;
    padding: 0 20px 0 23px; 
    text-align: center;
  }

  .container-form-btn {
    display: flex;
    justify-content: center;
  }

  .form-btn {
    font-family: QSbold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width:100%;
    height: 42px;
    background-color: #394752;
    border-radius: 7px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 5px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  }

  .form-btn:hover {
    background-color: #28333b;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
  }
  ion-footer{
    
    background:var(--ion-color-bp-bg-color); 
 }
 .nextstep{
    font-size: 20px;
    background-color: transparent;
    font-family: QSbold;
    width:100%;
    display:flex;
    justify-content: center;
    color:white;
}
