<ion-header>
  <ion-toolbar class="new-background-color">
  
    <ion-buttons (click)="goback()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>{{ 'CHECKOUT.backBUTTON' | translate }}
    </ion-buttons>
  
  </ion-toolbar>

  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'CHECKOUT.checkout' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
<div class="ion-padding">
  <ion-row>
    <div class="box">1</div>
    <ion-label>{{ 'CHECKOUT.passengerDetails' | translate }}</ion-label>
  </ion-row>
</div>
<div class="ion-padding">
  <form class="ion-padding">
             
    <div class="wrap-input">
    <input class="input" [(ngModel)]="ngEmail" name="bookingEmail" value="{{email}}" placeholder="{{ 'CHECKOUT.inputBOOKINGEMAIL' | translate }}">
    </div>

    <ion-label>Passenger #1</ion-label>
    <div class="wrap-input">
      <input class="input" [(ngModel)]="ngFirstName" type="text" name="firstname" value="{{firstName}}" placeholder="{{ 'CHECKOUT.inputFIRSTNAME' | translate }}">
      </div>
    <div class="wrap-input">
    <input class="input" [(ngModel)]="ngLastName" type="text" name="lastName" value="{{lastName}}" placeholder="{{ 'CHECKOUT.inputLASTNAME' | translate }}">
    </div>

    <!-- <div class="wrap-input">
    <input class="input" type="date" name="dateofbirth" placeholder="{{ 'CHECKOUT.inputPICKUP' | translate }}">
    </div>  -->
    <!-- <div class="wrap-input">
      <input class="input" type="text" name="email" placeholder="{{ 'CHECKOUT.inputDROPOFF' | translate }}">
      </div> -->
  
      <div class="wrap-input">
      <input class="input" [(ngModel)]="ngMobile" type="text" name="mobile" value="{{mobile}}" placeholder="{{ 'CHECKOUT.inputPRICE' | translate }}">
      </div>
  
      <!-- <div class="wrap-input">
      <input class="input" type="text" name="password" placeholder="{{ 'CHECKOUT.inputSEAT' | translate }}">
      </div>  -->
      <!-- <div class="wrap-input">
        <input class="input" type="text" name="age" placeholder="{{ 'CHECKOUT.inputAGE' | translate }}">
        </div>  -->

    <div class="container-form-btn">
      <button (click)="getDataFromForm()" class="form-btn custom-font">
        {{ 'CHECKOUT.submitFORM' | translate }}
      </button>
    </div>   
  </form>
</div>
</ion-content>
<ion-footer class="myfooter" >
  <div class="ion-padding">
  <button class="nextstep" (click)="getDataFromForm()"><a style="color:white;">{{ 'CHECKOUT.nextSTEP' | translate }}</a></button>
</div>

</ion-footer>