<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'TICKETS.titleLABEL' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <div class="ion-padding">
  <div class="ticket-background">
  
    <ion-row>
      <ion-col>
        <ion-text><a class="ionTexHeadersClass">HER</a></ion-text>
      </ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col>
      <ion-text class="ionTexHeadersClass">RETH</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
    <ion-row>
      <ion-col>
       <a class="upLine">{{ 'TICKETS.bookingID' | translate}}</a>
      </ion-col>
      <ion-col>
        <a class="upLine">{{ 'TICKETS.date' | translate}}</a>
      </ion-col>
      <ion-col>
        <a class="upLine">{{ 'TICKETS.boarding' | translate}}</a>
      </ion-col>
      <ion-col>
        <a class="upLine">{{ 'TICKETS.arrival' | translate}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a class="bottomLine">0001</a>
      </ion-col>
      <ion-col>
        <a class="bottomLine">23/2</a>
      </ion-col>
      <ion-col>
        <a class="bottomLine">20:08</a>
      </ion-col>
      <ion-col>
        <a class="bottomLine">22:13</a>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
    <ion-row>
      <a class="nameOfPassenger">{{ 'TICKETS.nameofthepassenger' | translate}}</a>
    </ion-row>
    <ion-row>
      <a class="userName">GRIGORIOS DASKALAKIS </a>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="barcodeimg" src="assets/images/drawable-xxxhdpi/qrcode.png"/>
      </ion-col>
    </ion-row>
  </div>
  <div class="container-form-btn">
    <ion-row>
     <button (click)="navigateToMyTickets()"class="form-btn custom-font">
      {{ 'TICKETS.myticketsBUTTON' | translate}}
       </button>
    </ion-row>
     <ion-row>
       <button (click)="navigateToHome()"class="form-btn custom-font">
        {{ 'TICKETS.booknewBUTTON' | translate}}
         </button>
     </ion-row>
       <ion-row>
         <button (click)="navigateToSearchTicket()"class="form-btn custom-font">
          {{ 'TICKETS.searchticketBUTTON' | translate}}
           </button>
       </ion-row>
     </div>  
 </div>


</ion-content>
<ion-footer class="myfooter" >
  <div class="ion-padding">

  <ion-row >
    <ion-col>
     <button (click)="navigateToHome()"class="buttonImgFooter"> <img  src="assets/icons/drawable-xxxhdpi/search.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToTickets()" class="buttonImgFooter">  <img class="iconImg" src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToSettings()" class="buttonImgFooter">      <img class="iconImg" src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
    </ion-col>
  </ion-row>
</div>

</ion-footer>