<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'SEARCHTICKETS.titleLABEL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label>{{ 'SEARCHTICKETS.searchSTARTDATE' | translate }}</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" (ionChange)="loadTickets()" [(ngModel)]="startSearchDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'SEARCHTICKETS.searchENDDATE' | translate }}</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" (ionChange)="loadTickets()" [(ngModel)]="endSearchDate"></ion-datetime>
    </ion-item>


    <div *ngIf="searchmyticket">
      <ion-item *ngFor="let dataTickets of filtered; let i = index">
        <div class="ticket-background">
          <ion-row>
            <ion-col>
              <ion-text><a class="ionTexHeadersClass">{{dataTickets.origin}}</a></ion-text>
            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>
              <ion-text class="ionTexHeadersClass">{{dataTickets.destination}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
          <ion-row>
            <ion-col>
              <a class="upLine">{{ 'SEARCHTICKETS.bookingID' | translate }}</a>
            </ion-col>
            <ion-col>
              <a class="upLine">{{ 'SEARCHTICKETS.date' | translate }}</a>
            </ion-col>
            <ion-col>
              <a class="upLine">{{ 'SEARCHTICKETS.boarding' | translate }}</a>
            </ion-col>
            <ion-col>
              <a class="upLine">{{ 'SEARCHTICKETS.arrival' | translate }}</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a class="bottomLine"> {{dataTickets.bookingID}}</a>
            </ion-col>
            <ion-col>
              <a class="bottomLine"> {{dataTickets.date}}</a>
            </ion-col>
            <ion-col>
              <a class="bottomLine"> {{dataTickets.boarding}}</a>
            </ion-col>
            <ion-col>
              <a class="bottomLine"> {{dataTickets.arrival}}</a>
            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
          <ion-row>
            <a class="nameOfPassenger">{{ 'SEARCHTICKETS.nameofthepassenger' | translate }}</a>
          </ion-row>
          <ion-row>
            <a class="userName"> {{dataTickets.passenger}} </a>
          </ion-row>
          <ion-row>
            <ion-col>
              <img class="barcodeimg" src="assets/images/drawable-xxxhdpi/qrcode.png" />
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </div>
  </div>

  <ion-text *ngIf="dateISMISSING">
    <a class="centeringDARK">{{ 'SEARCHTICKETS.wrongDATE' | translate }}</a>
  </ion-text>
</ion-content>
<ion-footer class="myfooter">
  <div class="ion-padding">

    <ion-row>
      <ion-col>
        <button (click)="navigateToHome()" class="buttonImgFooter"> <img
            src="assets/icons/drawable-xxxhdpi/search.png" /></button>
      </ion-col>
      <ion-col>
        <button (click)="navigateToTickets()" class="buttonImgFooter"> <img class="iconImg"
            src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
      </ion-col>
      <ion-col>
        <button (click)="navigateToSettings()" class="buttonImgFooter"> <img class="iconImg"
            src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
      </ion-col>
    </ion-row>
  </div>

</ion-footer>