.new-background-color {
  --background: var(--ion-color-bp-bg-color);
}

.centering {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.centeringDARK {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-family: QSbold;
  margin-top:10%;
}

ion-footer {
  .myfooter {
    background: var(--ion-color-bp-bg-color);
  }

  background:var(--ion-color-bp-bg-color);
}

.buttonImgFooter {
  border-radius: 80px;
  width: 70px;
  height: 70px;
}

ion-row {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.ticket-background {
  width: 100%;
  height: 350px;
  border-radius: 17px;
  background-color: #535862;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
}

.ionTexHeadersClass {
  color: white;
  font-size: 35px;
  font-family: QSbold;
}

.upLine {
  color: white;
  font-size: 15px;
  font-family: QSlight;
}

.bottomLine {
  color: var(--ion-color-bp-bg-color);
  ;
  font-size: 18px;
  font-family: QSmedium;
}

.nameOfPassenger {
  margin-top: 5%;
  color: white;
  font-size: 18px;
  font-family: QSmedium;
}

.userName {
  color: var(--ion-color-bp-bg-color);
  ;
  font-size: 22px;
  font-family: QSmedium;
}

.barcodeimg {
  width: 40%;
  height: 143px;
  border-radius: 28px;
}

.container-form-btn {
  margin-top: 5%;
}

.form-btn {
  margin-top: 3%;
  font-family: QSbold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #28333b;
  border-radius: 7px;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 5px;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
}

.wrap-input {
  background-color: rgb(185, 181, 181);
  border-radius: 7px;
  margin-bottom: 26px;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: QSbold;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 0 23px; 
  text-align: center;

}