<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'LANGUAGE.titleLABEL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <button (click)="openLanguagePopover()"> <img src="assets/icons/drawable-xxxhdpi/united-kingdom.png" /> </button>
      </ion-col>
      <ion-col>
        <button> <img src="assets/icons/drawable-xxxhdpi/greece.png" /> </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="myfooter">
  <div class="ion-padding">

    <ion-row class="rowstyle">
      <ion-col>
        <button (click)="navigateToHome()" class="buttonImgFooter"> <img
            src="assets/icons/drawable-xxxhdpi/search.png" /></button>
      </ion-col>
      <ion-col>
        <button (click)="navigateToTickets()" class="buttonImgFooter"> <img class="iconImg"
            src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
      </ion-col>
      <ion-col>
        <button (click)="navigateToSettings()" class="buttonImgFooter"> <img class="iconImg"
            src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
      </ion-col>
    </ion-row>
  </div>

</ion-footer>