
<ion-content>

  <div class="imageCentering">
    <img class="logoImg" src="assets/logo/logo100/bplogo100.png"/>
  </div>
  <div class="ion-padding">
    
    <form class="ion-padding">
     
    <div class="wrap-input">
    <input class="input" [(ngModel)]="phoneNumber" type="text" name="mobile" placeholder="{{'LOGIN.inputPHONENUMBER' | translate}}">
    </div>

    <div class="wrap-input">
    <input class="input"  [(ngModel)]="password" type="text" name="password" placeholder="{{'LOGIN.inputPASSWORD' | translate}}">
    </div>

    <div class="container-form-btn">
      <button (click)="login()"class="form-btn custom-font">
       {{ 'LOGIN.submitLOGIN' | translate }}
      </button>
    </div>   


  </form>

</div>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <button style="width: 100%;" (click)="navigateToRegisterPage()">{{'LOGIN.navigateToRegisterPage' | translate}}</button>
    </ion-toolbar>
</ion-footer>