ion-content{
    --ion-background-color:var(--ion-color-bp-bg-color);
}
.imageCentering{
    display:flex;
    justify-content:center;
    width:100%;
}
.logoImg{
    width:65%;
    height:100px;
    margin-top:20%;
}
form {
    margin-top: 100px;
  }

  .wrap-input {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 7px;
    margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
  }

  .input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: QSbold;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 59px;
    padding: 0 20px 0 23px; 
    text-align: center;
  }

  .container-form-btn {
    display: flex;
    justify-content: center;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width:100%;
    height: 59px;
    background-color: #394752;
    border-radius: 7px;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 5px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  }

  .form-btn:hover {
    background-color: #28333b;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
  }
  ion-title{
    color:black;
    height:200px;
    width: 100%;
  }