<ion-header>
  <ion-toolbar class="new-background-color">
  
    <ion-buttons (click)="goback()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>{{ 'CHECKOUTEXTRAS.backBUTTON' | translate }}
    </ion-buttons>
  
  </ion-toolbar>

  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'CHECKOUTEXTRAS.checkout' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
<div *ngIf="ngSSON" class="ion-padding">
  <ion-row>
    <div class="box">1</div>
    <ion-label>{{ 'CHECKOUTEXTRAS.extras' | translate }}</ion-label>
  </ion-row>
</div>
<div *ngIf="ngSSON" class="ion-padding">
  <ion-list>
    <ion-item>
      <img width="11px;" height="19px;" src="assets/icons/drawable-xxxhdpi/travelling-luggage.png" />
      <ion-label>{{ 'CHECKOUTEXTRAS.addEXTRALUGGAGE' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="toggleLuggage" (ionChange)="ionToggleHandlerLuggage()" slot="end" name="kiwi" color="success" ></ion-toggle>
    </ion-item>
    <ion-select *ngIf="luggageNumber"  (ionChange)="luggageHandler()" placeholder="Select Luggage Number" [(ngModel)]="select_option">
      <ion-select-option value="1"> {{ 'CHECKOUTEXTRAS.oneLUGGAGE' | translate }} </ion-select-option>
      <ion-select-option value="2"> {{ 'CHECKOUTEXTRAS.twoLUGGAGE' | translate }} </ion-select-option>
      <ion-select-option value="3"> {{ 'CHECKOUTEXTRAS.threeLUGGAGE' | translate }} </ion-select-option>
    </ion-select>
    {{selected_option}}
    <ion-item>
      <img width="16px;" height="12px;" src="assets/icons/drawable-xxxhdpi/text.png" />
      <ion-label>{{ 'CHECKOUTEXTRAS.smsNOTIFICATION' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="toggleSMS" (ionChange)="ionToggleHandlerSMS()"  color="success" ></ion-toggle>
    </ion-item>
    <ion-text class="ngIFSMS" *ngIf="ngIFSMS">Η Υπηρεσία χρήσης του SMS θα κοστίσει 12$</ion-text>
    <ion-item>
      <img width="16px;" height="12px;"  src="assets/icons/drawable-xxxhdpi/email.png" />
      <ion-label>{{ 'CHECKOUTEXTRAS.emailNOTIFICATION' | translate }}</ion-label>
      <ion-toggle  [(ngModel)]="toggleEmail" (ionChange)="ionToggleHandlerEmail()"  color="success" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <img width="16px;" height="20px;"  src="assets/icons/drawable-xxxhdpi/car-seat.png" />
      <ion-label>{{ 'CHECKOUTEXTRAS.selectSEAT' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="toggleSeat" (ionChange)="ionToggleHandlerSeat()" color="success"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-row class="marginLine">
    <div class="box">2</div>
    <ion-label>{{ 'CHECKOUTEXTRAS.payWITH' | translate }}</ion-label>
  </ion-row>
  <ion-list>
    <ion-item>
      <img width="88px;" height="25px;"  src="assets/icons/drawable-xxxhdpi/PayPal_logo.png" />
      <ion-label>{{ 'CHECKOUTEXTRAS.paypal' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="togglePaypal" (ionChange)="ionToggleHandlerPaypal()" color="success" ></ion-toggle>
    </ion-item>
    <ion-item>
      <img width="88px;" height="25px;"  src="assets/icons/drawable-xxxhdpi/stripelogo.png" />
      <ion-label>{{ 'CHECKOUTEXTRAS.stripe' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="toggleStripe" color="success" (ionChange)="ionToggleHandlerStripe()" ></ion-toggle>
    </ion-item>
  </ion-list>


  <div class="centerMessage marginCard">
      <ion-card>
        
        <ion-card-header>
          <ion-card-subtitle class="centeringDark">{{ 'CHECKOUTEXTRAS.voucherTITLE' | translate }}</ion-card-subtitle>
          <ion-card-title class="centeringDark"> {{ 'CHECKOUTEXTRAS.discountTITLE' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="wrap-input">
            <input [(ngModel)]="voucher" class="input" type="text" name="voucher" placeholder="{{ 'CHECKOUTEXTRAS.voucherPLACE' | translate }}">
            </div>   
        </ion-card-content>
      </ion-card>
  </div>
</div>



<div *ngIf="ngSSOFF" >


<ion-slides pager *ngIf="trips && trips.length > 0">
  
  <ion-slide *ngFor="let trip of trips">
    <!--<ion-icon *ngIf="trip.FLOOR == 2" name="ios-arrow-back" class="header-icon"></ion-icon>
    <ion-icon *ngIf="trip.FLOOR == 1" name="ios-arrow-forward" class="header-icon"></ion-icon>-->
    <ion-list id="ion-scroll" style="width:100%;height:100%;position: initial;" scrollY="true" scrollX="true">
      <div>Floor {{trip.FLOOR}}</div>
      <button (click)="turnofseats()">PHGAINE ALLOU</button>
      <!--<ion-item class="dropOff">
        <ion-label>Drop Off</ion-label>
        <ion-select [(ngModel)]="dropOff" #C (ionChange)="getSeats(C.value, true)">
          <ion-option *ngFor="let route of dropOffStations" value="{{route.PUP_DESC}}">{{route.PUP_DESC}}</ion-option>
        </ion-select>
      </ion-item>-->

      <!--<ion-select #C (ionChange)="getSeats(C.value)">
        <ion-option value="1">One</ion-option>
        <ion-option value="2">Two</ion-option>
        <ion-option value="3">Three</ion-option>
      </ion-select>-->

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let columnObj of trip.flooerColumns">
            <div style="padding-bottom:15px;" *ngFor="let item of columnObj" [class.empty_seat]="!item.SEATNUMBER">
              <div [class.temp_seat_selected]="item.TEMPBOOK" [class.seat_booked]="item.ISBOOKED" (click)="selectSeat(item, trip.FLOOR);">
                <img *ngIf="item.IMAGESPATH" [src]='item.IMAGESPATH' style="transform: rotate(90deg);" />
                <h6 class="seatNo">{{item.SEATNUMBER}}</h6>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
  </ion-slide>
</ion-slides>

</div>



</ion-content>
<ion-footer class="myfooter" >

  <div class="ion-padding"*ngIf="ngSSON">
  <button class="nextstep" (click)="nextStep()"><a style="color:white;">{{ 'CHECKOUTEXTRAS.complete' | translate }}</a></button>
</div>

<div class="ion-padding"*ngIf="ngSSOFF">
  <button class="nextstep" (click)="turnofseats()"><a style="color:white;">UPDATE SEATS</a></button>
</div>


</ion-footer>