
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'MAINPAGE.selectlanguage' | translate }}</ion-title>
      <ion-buttons slot="end">
    <ion-button  (click)="openLanguagePopover($event)">
      <ion-icon name="language" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="row" style="margin-top:50%;">
    <div class="col">
        <div class="text-center">
          <div class="imageCentering">
            <img class="logoImg" src="assets/logo/logo100/bplogo100.png"/>
          </div>
          
          <div class="ion-padding">
            <button  class="getStartedBtn custom-font" (click)="pageNavigationToRegister()" >{{ 'MAINPAGE.getstarted' | translate}}</button>
            <button class="loginBtn custom-font" (click)="pageNavigationToLogin()">{{ 'MAINPAGE.login' | translate}}</button>
          </div>
        </div>
    </div>
</div>



</ion-content>
