ion-content{
    --ion-background-color:var(--ion-color-bp-bg-color);
}
.new-background-color{
    --background: var(--ion-color-bp-bg-color); 
  }
  .centering{
    width:100%;
    display:flex;
    justify-content: cen3ter;
    text-align: center;
    color:white;
  }
.imageCentering{
    display:flex;
    justify-content:center;
    width:100%;
}
.logoImg{
    
    width:65%;
    height:100px;
    margin-top:20%;
}
.custom-font{
    font-family: QSbold;
    font-size:14px;
}
.getStartedBtn{
    width:100%;
    height:60px;
    border-radius: 7px;
    box-shadow: 0 0px 3px 6px rgba(57,71,82,0.12);
    background-color:white;
}
.loginBtn{
    margin-top:6%;
    width:100%;
    height:60px;
    border-radius: 7px;
    box-shadow: 0 0px 3px 6px rgba(57,71,82,0.12);
    background-color:white;
}