<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'MYTICKETS.titleLABEL' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <div class="ion-padding">
   <ion-list>
     <ion-item >
       
     </ion-item>
   </ion-list>

  <ion-list>
  <ion-item *ngFor="let dataTickets of informationT; let i = index">
    <div class="ticket-background">
      <ion-row>
        <ion-col>
          <ion-text><a class="ionTexHeadersClass">{{dataTickets.origin}}</a></ion-text>
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
        <ion-text class="ionTexHeadersClass">{{dataTickets.destination}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
  
      </ion-row>
      <ion-row>
        <ion-col>
         <a class="upLine">{{ 'MYTICKETS.bookingID' | translate}}</a>
        </ion-col>
        <ion-col>
          <a class="upLine">{{ 'MYTICKETS.date' | translate }}</a>
        </ion-col>
        <ion-col>
          <a class="upLine">{{ 'MYTICKETS.boarding' | translate}}</a>
        </ion-col>
        <ion-col>
          <a class="upLine">{{ 'MYTICKETS.arrival' | translate}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a class="bottomLine"> {{dataTickets.bookingID}}</a>
        </ion-col>
        <ion-col>
          <a class="bottomLine"> {{dataTickets.date}}</a>
        </ion-col>
        <ion-col>
          <a class="bottomLine"> {{dataTickets.boarding}}</a>
        </ion-col>
        <ion-col>
          <a class="bottomLine"> {{dataTickets.arrival}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
  
      </ion-row>
      <ion-row>
        <a class="nameOfPassenger">{{ 'MYTICKETS.nameofthepassenger' | translate }}</a>
      </ion-row>
      <ion-row>
        <a class="userName"> {{dataTickets.passenger}} </a>
      </ion-row>
      <ion-row>
        <ion-col>
          <img class="barcodeimg" src="assets/images/drawable-xxxhdpi/qrcode.png"/>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-list>
 
 </div>


</ion-content>
<ion-footer class="myfooter" >
  <div class="ion-padding">

  <ion-row >
    <ion-col>
     <button (click)="getDataTickets()"class="buttonImgFooter"> <img  src="assets/icons/drawable-xxxhdpi/search.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToTickets()" class="buttonImgFooter">  <img class="iconImg" src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToSettings()" class="buttonImgFooter">      <img class="iconImg" src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
    </ion-col>
  </ion-row>
</div>

</ion-footer>