 <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <button (click)="gotomain()">GO TO MAIn</button>
    </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>

  <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input placeholder="Greg " type="text" [(ngModel)]="todo.firstname" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input  placeholder="Daskalakis" [(ngModel)]="todo.lastname" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number</ion-label>
        <ion-input  placeholder="(698) 486 35 48" type="text" [(ngModel)]="todo.phoneNumber" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-input placeholder="05/30/1990"type="date" [(ngModel)]="todo.dateOfbirth" name="description"></ion-input>
      </ion-item>
      <ion-button style="width:100%" type="submit" block>Add Todo</ion-button>
  </form>

  <ion-item>
    <ion-input type="text" placeholder="QrCodeData" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{backendAPIDATA}}</ion-label>
  </ion-item>

  <ion-segment [(ngModel)]="elementType">
    <ion-segment-button value="canvas">
      <ion-label>Canvas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="img">
      <ion-label>Image</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>URL</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="qrData" text-center>
    <ngx-qrcode [value]="qrData" [elementType]="elementType" qr-class="my-code"></ngx-qrcode>
    <ion-card-content>
      <ion-button expand="full" color="tertiary" (click)="downloadQR()" *ngIf="elementType === 'canvas' ">
        <ion-icon name="download" slot="start"></ion-icon> 
        Download QR Code
        </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>

  <ngx-qrcode [elementType]="elementType" [value]="qrData">
  </ngx-qrcode>


    <ion-button style="width:100%" full (click)="captureImage()">Capture Image</ion-button>
    <ion-button style="width:100%" full (click)="sendEmail">Send Email</ion-button>

    <ion-card>
      <ion-card-header>Current Image</ion-card-header>
      <ion-card-content>
        <img [src]="currentImage" *ngIf="currentImage"/>
      </ion-card-content>
    </ion-card>


</ion-content>
<!--
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Use this Pay button in your app's payment page with the attached logic.
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-img src="/assets/paypal.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>PayPal Sample</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentAmount}}
        </ion-col>
      </ion-row>
    </ion-card-header>
        <ion-card-content>
      <div id="paypal-button-container"></div> 
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Pay with PayPal</ion-button>
    </ion-card-content>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/native/paypal">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Paypal Plugin Documentation</ion-label>
    </ion-item>
    <ion-item href="https://github.com/paypal/PayPal-Cordova-Plugin">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Paypal Plugin Repository</ion-label>
    </ion-item>
    <ion-item href="https://enappd.com/blog/paypal-integration-in-ionic-apps-and-pwa/142/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Ionic 4 - Paypal Integration</ion-label>
    </ion-item>
    <ion-item href="https://store.enappd.com">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>More Enappd Starters</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->