<ion-header>
  <ion-toolbar class="new-background-color">
  
    <ion-buttons (click)="goback()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>{{ 'CHECKOUTSUMMARY.backBUTTON' | translate }}
    </ion-buttons>
  
  </ion-toolbar>

  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'CHECKOUTSUMMARY.checkout' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="paymentNG" class="ion-padding">
    <ion-row>
      <div class="box">3</div>
      <ion-label style="margin-left:5%;margin-top:1%;">{{ 'CHECKOUTSUMMARY.labelSUMMARY' | translate }}</ion-label>
      <button class="margin-left:54%;">{{ 'CHECKOUTSUMMARY.editBUTTON' | translate }}<ion-icon slot="end" name="create-outline"></ion-icon></button>
    </ion-row>
   
  </div>

  <div class="ion-padding" style="margin:8%;">
  </div>
  <div *ngIf="paymentNG" class="ion-padding">
    <ion-list lines="none">
      <ion-item (click)="selectRoute(item)" >
        <ion-grid style="position: absolute;
        top: -3px;" > 
          <ion-row>
            <ion-col >
              <span class="departureHour">{{dataDepar}}</span>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
              <div  class="fromDate">{{dataFrom}}</div>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <span class="arrivalTime">{{dataArr}}</span>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
              <div class="arrivalPlace">{{dataTo}}</div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 3%;text-align: center;">
            <ion-col class="finalPrice">
              {{ 'ROUTES.direct' | translate }}
          </ion-col>
            <ion-col class="finalPrice">
              {{totalTimeOfTrip}}{{ 'ROUTES.hours' | translate }},
            </ion-col>
            <ion-col class="finalPrice">
              {{ 'ROUTES.price' | translate }}
            </ion-col>
            <ion-col class="finalPrice">
              {{totalPrice}}{{ 'ROUTES.money' | translate }}
          </ion-col>
          </ion-row>
          
        </ion-grid>
        <img class="barImg" src="assets/bars/drawable-xxxhdpi/routingtable.png" />
      </ion-item>
     
    </ion-list> 

 
      <ion-grid>
        <ion-row>
          <ion-col>
            {{dateToshowGen}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{totalPeople}} {{ 'CHECKOUTSUMMARY.people' | translate }}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="NGIFSMS">
          <ion-col>
            {{ 'CHECKOUTSUMMARY.smsNOTIFICATION' | translate }}
          </ion-col>
         
          <ion-col>
            {{smsPrice}}{{ 'ROUTES.money' | translate }}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="NGIFEMAIL">
          <ion-col>
            {{ 'CHECKOUTSUMMARY.emailNOTIFICATION' | translate }}
          </ion-col>
         
          <ion-col>
           {{emailPrice}}{{ 'ROUTES.money' | translate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ 'CHECKOUTSUMMARY.tickets' | translate }}
          </ion-col>
         
          <ion-col>
           {{totalPrice}}{{ 'ROUTES.money' | translate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ 'CHECKOUTSUMMARY.total' | translate }}
          </ion-col>
         
          <ion-col>
            {{totalPriceOfTickets}}{{ 'ROUTES.money' | translate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ 'CHECKOUTSUMMARY.bymakingthis' | translate }}
          </ion-col>
        </ion-row>
      </ion-grid>
      
  </div>

    <ion-card-content *ngIf="paypalPaymentNG" >
      <div id="paypal-button-container"></div> 
    </ion-card-content>

  <!-- <ion-card-header *ngIf="paypalPaymentNG">
    <ion-card-subtitle>Get Started</ion-card-subtitle>
    <ion-card-title>PayPal Sample</ion-card-title>
    <ion-row>
      <ion-col>
        Total Payment
      </ion-col>
      <ion-col>
        <b> {{totalPriceOfTickets}}   {{'ROUTES.money' | translate }}</b>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content *ngIf="paypalPaymentNG">
    <div id="paypal-button-container"></div> 
  </ion-card-content> -->
  <div  class="ion-padding">
    <ion-text> <a class="selectOtherPayment">If you want to select another payment please click here</a></ion-text>
    <button (click)="selectOtherPaymentBtn()" class="selectOtherPaymentBtn">Change Payment Method</button>
   </div>
  

</ion-content>
