<ion-header>
  <ion-toolbar class="new-background-color">
  
    <ion-buttons (click)="goback()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>{{ 'ROUTES.backBUTTON' | translate }}
    </ion-buttons>
    <ion-title class="centering">{{ 'ROUTES.titleROUTE' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar class="new-background-color">
    <ion-title class="centering titleFont">{{dataFrom}} to {{dataTo}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="new-background-color">
    <ion-title class="centeringDark">{{dateToSowGen}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="ion-padding">
  

  <ion-list lines="none">
  <ion-item (click)="selectRoute(item)"  *ngFor="let item of data" >
    <ion-grid style="position: absolute;
    top: -3px;" > 
      <ion-row>
        <ion-col >
          <span class="departureHour">{{dataDepar}}</span>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <div  class="fromDate">{{item.FPUP_DESC}}</div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <span class="arrivalTime">{{dataArr}}</span>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <div class="arrivalPlace">{{item.TPUP_DESC}}</div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 3%;text-align: center;">
        <ion-col class="finalPrice">
          {{ 'ROUTES.direct' | translate }}
      </ion-col>
        <ion-col class="finalPrice">
          {{totalTimeOfTrip}}{{ 'ROUTES.hours' | translate }},
        </ion-col>
        <ion-col class="finalPrice">
          {{ 'ROUTES.price' | translate }}
        </ion-col>
        <ion-col class="finalPrice">
          {{totalPrice}}{{ 'ROUTES.money' | translate }}
      </ion-col>
      </ion-row>
      
    </ion-grid>
    <img class="barImg" src="assets/bars/drawable-xxxhdpi/routingtable.png" />
  </ion-item>
 
</ion-list> 
</div>
</ion-content>




