.new-background-color{
    --background: var(--ion-color-bp-bg-color); 
  }
  .centering{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
    color:white;
  }
  .centeringDark{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
    color:black;
    font-size:15px;
  }
  .titleFont{
    font-size:15px;
  }
  ion-item{
    
margin-top: 1%;
margin-bottom: 5%;
  }
.barImg{
  width: 100%;
  height: 111px;
}
.fromDate{
  width: 183px;
margin-left: 44%;
font-size: 13px;
}
.arrivalPlace{
  width: 183px;
margin-left: 44%;
font-size: 13px;
}
.departureHour{
  font-size: 14px;
}
.arrivalTime{
  margin-top:2%;
  font-size: 14px;
  font-family: QSmedium;
}
.finalPrice{
  font-size: 14px;
  font-family: QSmedium;
}