.new-background-color{
    --background: var(--ion-color-bp-bg-color); 
  }
  .centering{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
    color:white;
  }
  ion-footer{
    .myfooter{
     background:var(--ion-color-bp-bg-color); 
    }
    background:var(--ion-color-bp-bg-color); 
 }
 .buttonImgFooter{
   border-radius: 80px;
 width: 70px;
 height: 70px;
 } 
 ion-row{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  .container-form-btn {
    margin-top:5%;
  }
  .form-btn {
    margin-top:3%;
    font-family: QSbold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width:100%;
    height: 50px;
    background-color: #28333b;
    border-radius: 7px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 5px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  }