<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'SERVICES.titleLABEL' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <div class="ion-padding">
  <div class="container-form-btn">
    <ion-row>
     <button (click)="navigateToMyTickets()"class="form-btn custom-font">
      {{ 'SERVICES.CALL' | translate}}
       </button>
    </ion-row>
     <ion-row>
       <button (click)="navigateToHome()"class="form-btn custom-font">
        {{ 'SERVICES.EMAIL' | translate}}
         </button>
     </ion-row>
       <ion-row>
         <button (click)="navigateToLiveChat()"class="form-btn custom-font">
          {{ 'SERVICES.LIVECHAT' | translate}}
           </button>
       </ion-row>
     </div>  
 </div>
</ion-content>
<ion-footer class="myfooter" >
  <div class="ion-padding">

  <ion-row >
    <ion-col>
     <button (click)="navigateToHome()"class="buttonImgFooter"> <img  src="assets/icons/drawable-xxxhdpi/search.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToTickets()" class="buttonImgFooter">  <img class="iconImg" src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToSettings()" class="buttonImgFooter">      <img class="iconImg" src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
    </ion-col>
  </ion-row>
</div>

</ion-footer>