
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'PROFILE.titleLABEL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <form class="ion-padding">
     
    <div class="wrap-input">
    <input class="input" type="text" name="firstName" placeholder="{{ 'PROFILE.inputFIRSTNAME' | translate }}">
    </div>

    <div class="wrap-input">
    <input class="input" type="text" name="lastName" placeholder="{{ 'PROFILE.inputLASTNAME' | translate }}">
    </div>

    <div class="wrap-input">
      <ion-datetime style="text-align:center;"value="1990-02-19" placeholder="{{ 'PROFILE.inputDATE' | translate }}"></ion-datetime>
    </div> 
    <div class="wrap-input">
      <input class="input" type="text" name="email" placeholder="{{ 'PROFILE.inputEMAIL' | translate }}">
      </div>
  
      <div class="wrap-input">
      <input class="input" type="text" name="mobile" placeholder="{{ 'PROFILE.inputPHONENUMBER' | translate }}">
      </div>
  
      <div class="wrap-input">
      <input class="input" type="password" name="password" placeholder="{{ 'PROFILE.inputPASSWORD' | translate }}">
      </div> 

    <div class="container-form-btn">
      <button (click)="nagivateToLogin()"class="form-btn custom-font">
        {{ 'PROFILE.submitFORM' | translate }}
      </button>
    </div>   


  </form>

</div>
</ion-content>
<ion-footer class="myfooter" >
  <div class="ion-padding">

  <ion-row class="rowstyle" >
    <ion-col>
     <button (click)="navigateToHome()"class="buttonImgFooter"> <img  src="assets/icons/drawable-xxxhdpi/search.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToTickets()" class="buttonImgFooter">  <img class="iconImg" src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToSettings()" class="buttonImgFooter">      <img class="iconImg" src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
    </ion-col>
  </ion-row>
</div>

</ion-footer>