/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* font-family: 'Quicksand', sans-serif; light 300 */

@font-face {
    font-family: QSbold;
    src: url(./assets/fonts/Quicksand-Bold.ttf);
  }
  @font-face {
    font-family: QSlight;
    src: url(./assets/fonts/Quicksand-Light.ttf);
  }
  @font-face {
    font-family: QSmedium;
    src: url(./assets/fonts/Quicksand-Medium.ttf);
  }
  @font-face {
    font-family: QSregular;
    src: url(./assets/fonts/Quicksand-Regular.ttf);
  }
  @font-face {
    font-family: QSsemibold;
    src: url(./assets/fonts/Quicksand-SemiBold.ttf);
  }
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
