ion-slides {
  height: 100%;
}
.new-background-color{
  --background: var(--ion-color-bp-bg-color); 
}
.centering{
  width:100%;
  display:flex;
  justify-content: cen3ter;
  text-align: center;
  color:white;
}
ion-row{
  width:100%;
  display:flex;
  justify-content: center;
  text-align: center;
}
ion-footer{
   .myfooter{
    background:var(--ion-color-bp-bg-color); 
   }
   background:var(--ion-color-bp-bg-color); 
}
.buttonImgFooter{
  border-radius: 80px;
width: 70px;
height: 70px;
}
form {
  margin-top: 10px;
}
.peopleButton{
  font-family: QSbold;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 0 23px; 
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(185, 181, 181);
  border-radius: 7px;
  margin-bottom: 26px;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
}
.wrap-input {
  background-color: rgb(185, 181, 181);
  border-radius: 7px;
  margin-bottom: 26px;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: QSbold;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 0 23px; 
  text-align: center;

}
.searchbar {
  display: block;
  width: 100%;
  background: transparent;
  font-family: QSbold;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 0 23px; 
  text-align: center;

}

.container-form-btn {
  display: flex;
  justify-content: center;
}

.form-btn {
  font-family: QSbold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width:100%;
  height: 50px;
  background-color: var(--ion-color-bp-bg-color); 
  border-radius: 7px;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 5px;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
}

.form-btn:hover {
  background-color: #28333b;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
}
.titleSafe{
  position: inherit;
  left:0px;
  font-size:15px;
  font-family:QSlight;
  color:black;
}
.boxSafe{
  height:80px;
  box-shadow: 3px 6px rgba(167, 165, 165, 0.5);
  width: 100%;
}
.safetyMeasures{
  height:280px;
  box-shadow: 3px 6px rgba(167, 165, 165, 0.5);
}
.searchbar-input{
  display: block;
width: 100%;
background: transparent;
font-family: QSbold;
font-size: 16px;
line-height: 1.2;
border: none;
outline: none;
height: 46px;
padding: 0 20px 0 23px;
text-align: center;
}