<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'HOME.headerTitleSEARCH' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  
  <div class="ion-padding">
   <form>
   <div class="wrap-input">
    <!--  -->
    <ion-searchbar *ngIf="isSearchedForDeparture2" #search debounce="500" (ionChange)="ionSearchDep($event)" placeholder="{{ 'HOME.inputDEPARTURE' | translate }}"></ion-searchbar>
    <ion-searchbar *ngIf="isSearchedForDeparture3" #search debounce="500" (ionChange)="ionSearchDep($event)" placeholder="{{ myDeparture }}"></ion-searchbar>
    </div>
      <ion-list *ngIf="isSearchedForDeparture">
        <ion-item (click)="getDepartures(item)" [(ngModel)]="selectedDeparture" *ngFor="let item of searchedItem">
          <ion-label>{{item.PUP_DESC}}</ion-label>
        </ion-item>
      </ion-list>


   <div  class="wrap-input">
    <ion-searchbar *ngIf="isSearchedForArrival2" #search debounce="500" (ionChange)="ionSearchArr($event)" placeholder="{{ 'HOME.inputARRIVAL' | translate }}"></ion-searchbar>
    <ion-searchbar *ngIf="isSearchedForArrival3" #search debounce="500" (ionChange)="ionSearchArr($event)" placeholder="{{ myArrival }}"></ion-searchbar>
   </div>
   <ion-list *ngIf="isSearchedForArrival">
    <ion-item (click)="getArrivals(item)" [(ngModel)]="selectedDeparture" *ngFor="let item of searchedItem">
      <ion-label>{{item.PUP_DESC}}</ion-label>
    </ion-item>
  </ion-list>
  
   <div class="wrap-input">
    <ion-datetime displayFormat="YYYY DD MM"  value="2019-12-01" min="2018" (ionChange)="dateChanged($event)" placeholder="Select Date"></ion-datetime>
    </div>
      <button class="peopleButton"(click)="showOptionsOfPeople()">
        {{ 'HOME.buttonPEOPLE' | translate }}
      </button>
      <div *ngIf="peopleShow">
          <ion-label style="justify-content:center; display:flex; width:100%; font-size:20px;margin-top:5%;margin-bottom:5%;"> {{ 'HOME.labelRESERVATION' | translate }}</ion-label>
          <ion-item>
            <ion-label>{{ 'HOME.labelADULTS' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="adults" name="getAdultsNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'HOME.labelCHILDREN' | translate }}</ion-label>
            <ion-input [(ngModel)]="children" type="number" name="getAdultsNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'HOME.labelinf' | translate }}</ion-label>
            <ion-input [(ngModel)]="enfants" type="number" name="getAdultsNumber"></ion-input>
          </ion-item>
      </div>

   <div class="container-form-btn">
     <button (click)="navigateToRoute()"class="form-btn custom-font">
      {{ 'HOME.buttonSEARCH' | translate }}
     </button>
   </div>   
 </form>
</div> 

<div class="ion-padding">

    <button (click)="presentAlert()" class="boxSafe">
      <ion-row>
        <a class="titleSafe">{{ 'HOME.titleSAFETY' | translate }}</a>
      </ion-row>
      <ion-row>
        {{ 'HOME.safetyTEXT' | translate }}
      </ion-row>
  </button>
</div>

<div class="ion-padding">

<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card>
      <img src="assets/images/drawable-xxxhdpi/busphoto.png"/>
      <ion-card-header>
        <ion-card-subtitle>{{ 'HOME.cardDESTINATION' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'HOME.cardTITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ 'HOME.cardCONTENT' | translate }}
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
 
    <ion-card>
      <img src="assets/images/drawable-xxxhdpi/busphoto2.png"/>
      <ion-card-header>
        <ion-card-subtitle>{{ 'HOME.cardDESTINATION' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'HOME.cardTITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ 'HOME.cardCONTENT' | translate }}
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    
    <ion-card >
      <img src="assets/images/drawable-xxxhdpi/busphoto3.png"/>
      <ion-card-header>
        <ion-card-subtitle>{{ 'HOME.cardDESTINATION' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'HOME.cardTITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ 'HOME.cardCONTENT' | translate }}
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
</div>



</ion-content>

<ion-footer *ngIf="isKeyboard" class="myfooter" >
  <div class="ion-padding">
  <ion-row >
    <ion-col>
     <button (click)="navigateToHome"class="buttonImgFooter"> <img  src="assets/icons/drawable-xxxhdpi/search.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToTickets()" class="buttonImgFooter">  <img class="iconImg" src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToSettings()" class="buttonImgFooter">      <img class="iconImg" src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
    </ion-col>
  </ion-row>
</div>

</ion-footer>



