
<ion-content>

  
          <div class="ion-padding">
             <div class="imageCentering">
                <img class="logoImg" src="assets/logo/logo100/bplogo100.png"/>
              </div>
            <form class="ion-padding">
             
            <div class="wrap-input">
            <input class="input" type="text" name="firstName" placeholder="{{'REGISTER.inputFIRSTNAME' | translate}}">
            </div>
        
            <div class="wrap-input">
            <input class="input" type="text" name="lastName" placeholder="{{'REGISTER.inputLASTNAME' | translate}}">
            </div>
        
            <div class="wrap-input">
              <ion-datetime style="text-align:center;"value="1990-02-19" placeholder="{{'REGISTER.inputDATE' | translate}}"></ion-datetime>
            </div> 
            <div class="wrap-input">
              <input class="input" type="text" name="email" placeholder="{{'REGISTER.inputEMAIL' | translate}}">
              </div>
          
              <div class="wrap-input">
              <input class="input" type="text" name="mobile" placeholder="{{'REGISTER.inputPHONENUMBER' | translate}}">
              </div>
          
              <div class="wrap-input">
              <input class="input" type="password" name="password" placeholder="{{'REGISTER.inputPASSWORD' | translate}}">
              </div> 
        
            <div class="container-form-btn">
              <button (click)="nagivateToLogin()"class="form-btn custom-font">
                {{'REGISTER.submitFORM' | translate}}
              </button>
            </div>   
        
        
          </form>

</div>
</ion-content>
