.new-background-color{
   --background: var(--ion-color-bp-bg-color); 
 }
 .centering{
   width:100%;
   display:flex;
   justify-content: cen3ter;
   text-align: center;
   color:white;
 }

 .rowstyle{
    width:100%;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  .rowstyleText{
   width:100%;
   display:flex;
   justify-content: center;
 }
  .settingsText{
     font-family:QSmedium;
     font-size:20px;

     margin-top:3%;
     margin-bottom:3%;
  }
  .feedback{
     display:flex;
     width:100%;
     justify-content: flex;
  }
  .sendFeedback {
     margin-top:5%;
   font-family: QSbold;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   width:100%;
   height: 50px;
   background-color: var(--ion-color-bp-bg-color); 
   border-radius: 7px;
   font-size: 14px;
   color: #FFFFFF;
   text-transform: uppercase;
   padding-top: 5px;
   transition: all 0.4s;
   box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
 }
 ion-footer{
   .myfooter{
    background:var(--ion-color-bp-bg-color); 
   }
   background:var(--ion-color-bp-bg-color); 
}
.buttonImgFooter{
   border-radius: 80px;
   width: 70px;
   height: 70px;
}
.iconStyling{
   width: 47px;
}
.fontStyling{
   font-size:20px;
   font-family:QSregular;
   color:#28333b;
}