<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="centering">{{ 'SETTINGS.titleLABEL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
   <ion-row>
      <button (click)="navigateToProfile()" class="settingsText rowstyleText">{{ 'SETTINGS.profile' | translate }}</button>
   </ion-row>
   <ion-row >
    <button (click)="navigateToServices()" class="settingsText rowstyleText">{{ 'SETTINGS.services' | translate }}</button>
   </ion-row>
   <ion-row>
      <button  (click)="openLanguagePopover($event)" class="settingsText rowstyleText">{{ 'SETTINGS.Language' | translate }}</button>
  </ion-row>
  <ion-row>
      <button (click)="navigateToPrivacyPolicy()" class="settingsText rowstyleText">{{ 'SETTINGS.privacypolicy' | translate }}</button>
  </ion-row>
  <ion-row>
      <button (click)="navigateToTermsAndConditions()" class="settingsText rowstyleText">{{ 'SETTINGS.termsconditions' | translate }}</button>
  </ion-row>
  <ion-row>
      <button (click)="navigateToFAQ()" class="settingsText rowstyleText">{{ 'SETTINGS.faq' | translate }}</button>
  </ion-row>
  <ion-row>
    <button (click)="navigateToLogin()" class="settingsText rowstyleText">{{ 'SETTINGS.logout' | translate }}</button>
</ion-row>
<ion-row>
  <button (click)="navigateToTest()" class="settingsText rowstyleText">TEST</button>
</ion-row>
  <div style="margin-top:5%;margin-right: 12%;">
    <ion-row class="rowstyle">
      <ion-col>
        <button  class="iconStyling">  <img src="assets/icons/drawable-xxxhdpi/mail-icon-settings.png"/></button>
      </ion-col>
      <ion-col>
        <a class="fontStyling">info@travelsoft.gr</a>
      </ion-col>
    </ion-row>
    <ion-row class="rowstyle">
      <ion-col>
      <button class="iconStyling">  <img  src="assets/icons/drawable-xxxhdpi/phone-icon-settings.png"/></button>
      </ion-col>
      <ion-col>
        <a class="fontStyling">210 123 4567</a>
      </ion-col>
    </ion-row>
    <ion-row class="rowstyle"> 
      <ion-col>
        <button class="iconStyling"> <img  src="assets/icons/drawable-xxxhdpi/addr-icon-settings.png"/></button>
      </ion-col>
      <ion-col>
        <a class="fontStyling">{{ 'SETTINGS.address' | translate }}</a>
      </ion-col>
    </ion-row>
  </div>
  <div class="feedback">
    <button class="sendFeedback"> {{ 'SETTINGS.feedback' | translate }}</button>
  </div>
  </div>
</ion-content>
<ion-footer class="myfooter" >
  <div class="ion-padding">

  <ion-row class="rowstyle" >
    <ion-col>
     <button (click)="navigateToHome()"class="buttonImgFooter"> <img  src="assets/icons/drawable-xxxhdpi/search.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToTickets()" class="buttonImgFooter">  <img class="iconImg" src="assets/icons/drawable-xxxhdpi/tickets.png" /></button>
    </ion-col>
    <ion-col>
      <button (click)="navigateToSettings()" class="buttonImgFooter">      <img class="iconImg" src="assets/icons/drawable-xxxhdpi/settings.png" /></button>
    </ion-col>
  </ion-row>
</div>

</ion-footer>